/* DOCUMENTO CSS */

*{
	margin: 0;
	padding: 0;
}
*:hover:not(body, html, header, footer, main){
	animation: squash 0.25s 1;
	animation-timing-function: ease-out;
	transform-origin: 50% 50%;
}
@keyframes squash {
	0%{scale: 1 1;}
	25%{scale: 1.05 0.95;}
	50%{scale: 0.95 1.05;}
	100%{scale: 1 1;}
}
body {
	font-family: 'Roboto', sans-serif;
}
header {
	height: 130px;
	display: flex;
    background-color: #ED3237;
	justify-content: left;
	align-items: center;
	color: #fff;
}

header figure {
	width: 300px;
	margin-left: 100px;
	margin-right: 50px;
}
header figure img {
	width: 100%;
}
header h1 span {
	font-size: 12px;
	font-weight: 100;
	margin-left: 10px;
}
header h1, p {
	text-shadow: 1px 1px 5px black;
	margin-bottom: 10px;
}

.game-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px 0;
	gap:5px;
}
.game-container label{
	color: #ED3237;
	font-weight: 600;
}
.game-toggle{
	appearance: none;
	width: 30px;
	aspect-ratio: 1/1;
	border: 4px solid #ED3237;
	border-radius: 100%;
	overflow: hidden;
}
.game-toggle:hover:not(.game-toggle:checked), .game-toggle:focus:not(.game-toggle:checked){
	animation: jump 0.5s infinite;
	transform-origin: 50% 100%;
}
@keyframes jump {
	0%{
		scale: 1 1;}
	10%{
		scale: 1.5 0.5;}
	25%{
		scale: 1.5 0.5;
		translate: 0 0;
	}
	50%{
		scale: 0.5 1.5;
		translate: 0 -10px;
	}
	75%{
		scale: 1 1;
		translate: 0 -12.5px;
	}
	100%{
		scale: 0.9 1.1;
	}

}
.game-toggle:checked{
	transition: rotate 1s ease-out;
	rotate: 180deg;
}
.game-toggle::after{
	content:'';
	width: 4px;
	height: 200%;
	background-color: #ED3237;
	margin:auto;
	rotate: -45deg;
	transform-origin: 50% 50%;
	margin-top: -50%;
	opacity: 0;
	transition: opacity 1s ease-out;
}
.game-toggle:checked::after{
	display: block;
	opacity: 1;
}
.game-container div{
	height: 0;
	min-width: 100%;
	overflow:hidden;
	background-color: darkslategray;
	transition: height 1s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	gap:1rem;
	margin: 0;
}
.game-container:has(.game-toggle:checked) div{
	height: 500px;
}
.game-container div iframe{
	width: 450px;
	aspect-ratio: 1/1;
	border: none;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}
.game-container div p{
	text-shadow: none;
	color:#FFF;
}
.game-container div p a{
	color: turquoise;
}
main {
	display: flex;
	justify-content: space-around;
	padding: 50px;
	flex-wrap: wrap;
}

h2 {text-align: center;}
.boxaluno {
	width: 190px;
	height: 350px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #a4a4a4;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background-image: linear-gradient( to bottom right, #ED1C24 60%, #950d15 ); 
	margin:0 10px 40px 10px;

}
.boxaluno figure {
	width: 150px;
	height: 150px;
	margin-bottom: 20px;
	border-radius: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	background-image:url("imagens/semfoto.jpg");
	background-size: cover;
	background-position: center;
	aspect-ratio: 1/1;
}
.boxaluno figure img {
	min-height: 100%;
	width: 100%;
}
.boxaluno h2{
	text-shadow: 1px 1px 5px black;
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	height: 100px;
}
.boxaluno:hover {
	box-shadow: 5px 5px 10px yellow;
}
.boxaluno::before{
	content:'';
	position: absolute;
	display: none;
	width: 12.5%;
	height: 45%;
	background-image: url(explosao.gif);
	background-size: cover;
}
.boxaluno:hover::before{
	display: block;
}


footer {
	height: 50px;
background-image: linear-gradient( to bottom, #ED1C24 60%, #950d15 ); 
text-align: center;
padding-top: 20px;
color: white;
font-style: italic;
}
.boxprof {
	width: 240px;
	height: 250px;

}
.boxprof h2 {
	font-size: 20px ;
}
.boxaluno p{
	margin: 0px 90px 10px 0;
	color: white;
	font-size: 14px;
	font-weight: none;
}
.boxaluno a{
	text-decoration: none;
}
.boxaluno button {
	width: 100px;
	cursor: pointer;
	border: none;
	font-weight: 300;
	color: white;
	height: 30px;
	border-radius: 4px;
	background: linear-gradient(to bottom,#37bc16,#33991a);
	margin-bottom: 10px;
}
.boxaluno button:hover {
	font-weight: 700;
}
.boxaluno .btlivraria {
	color: black;
	background-image: none;
	background-color: gray;

}
.boxaluno .btlivraria:hover {
	font-weight: 300;
	cursor: default;
}